/* ==UserStyle==
@name           Vacban Theme
@namespace      PhoenixAceVFX
@author         PhoenixAceVFX
@description    My custom theme for vacban.wtf
==/UserStyle== */
@-moz-document domain("vacban.wtf") {
div .p-body {
    background-image: url("https://cdn.discordapp.com/attachments/831321249011597363/841371639093657651/flexuh-vr-catsuitshowcase2.png");
    /*Custom Background Image*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div .p-sectionLinks {
    opacity: 0.5;
}
div .p-body-header {
    opacity: 0.5;
}
div .p-body-main {
    opacity: 0.9
}
div .p-staffBar {
    opacity: 0.5
}
div .p-sideNav {
    background-image: url("https://i.imgur.com/4Tlaq5q.png");
    /*Custom Sidebar Texture*/
    background-repeat: repeat;
    opacity: 1
}
div .p-body-sidebar {
    opacity: 1
}
div .p-header {
    background: url("https://cdn.discordapp.com/attachments/461441240395808798/844270776945475614/followpoint2x.png");
    /*Transparent SideNav Header*/
}
div .p-nav-container::before {
    background: url("https://cdn.discordapp.com/attachments/461441240395808798/844270776945475614/followpoint2x.png");
    /*SideNav BG Fix*/
}
div .p-header-logo {
    content: url("https://i.imgur.com/fgJ4pnf.png");
    /*Custom Sidebar Logo*/
    height: 160px;
    width: 160px;
}
}